/.cache/
/compile_commands.json
/finyl
/*.mp3
/crate-digger/target/*
!/crate-digger/target/fynal-1.0-SNAPSHOT.jar
*.o
/test
!/test.cpp
/listdevice
/test-digger
/test-controller
*.wav
/test-interface
/separate
/test-json
/crate-digger/.classpath
/crate-digger/.project
/crate-digger/.settings/
